body {
    background-color:violet;
}

img{
    top: 30%; /* Adjust top position for smaller screens */
    left: 50%; /* Center horizontally */
    transform: translateX(3%); /* Center the image horizontally */
    height: 150px; /* Adjust height for smaller screens */
    width: 150px; /* Adjust width for smaller screens */
}
  
@media (max-width: 1200px) 
{
              img {
                  top: 30%; /* Adjust top position for smaller screens */
                  left: 50%; /* Center horizontally */
                  transform: translateX(-15%); /* Center the image horizontally */
                  height: 150px; /* Adjust height for smaller screens */
                  width: 150px; /* Adjust width for smaller screens */
              }
}


@media screen and (max-width: 980px) {
    img {transform: translateX(-30%);
    }
}